#Name,#InputEmail,#Number,#InputPassword{
    width: 50%;
}
#middiv{
    /* border: 2px solid red; */
    /* background-color: #9db6cd; */
    width: 50%;
    padding: 0px 0px;
    /* margin: 23px 293px */
}